<table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Produk ID</th>
            <th>Nama</th>
            <th>Stok</th>
            <th>Category</th>
            <th>Pemasok</th>
            <th>Harga Foto</th>
            <th>Harga Jual</th>
            <th>Image</th>
            <th>Tindakan</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.product_id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.stock }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.supplier }}</td>
            <td>{{ row.cost_price }}</td>
            <td>{{ row.selling_price }}</td>
            <td>
                {% if row.image_url %}
                <img src="{{ url_for('static', filename='uploads/' ~ row.image_url) }}" onclick="showImage(this.src)"
                    style="width:40px;cursor:pointer;">
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                <button class="btn btn-sm btn-warning" data-row='{{ row|tojson|safe }}' onclick="fillEditForm(this)">✏️
                    Ubah</button>
                <button class="btn btn-sm btn-danger" onclick="confirmDelete('{{ row.id }}')">🗑️ Hapus</button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>